<?xml version="1.0" encoding="utf-8"?>
<particle xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <version>1</version>
  <id>0</id>
  <property>
    <particleCount>1000</particleCount>
    <bounds x="10" y="10" z="10" />
    <colorType>Const</colorType>
    <colorConst1>0xff1c2020</colorConst1>
    <gravity>400</gravity>
    <prewarm>true</prewarm>
    <transform>
      <rotation x="270" y="0" z="0" />
      <scale x="1" y="1" z="1" />
      <position x="0" y="100.000076" z="-1.19209362E-05" />
    </transform>
    <render>
      <renderMode>StretchedBillboard</renderMode>
      <cameraScale>0</cameraScale>
      <lengthScale>1.5</lengthScale>
      <speedScale>0</speedScale>
    </render>
  </property>
  <emission>
    <rate>1000</rate>
    <type>Const</type>
  </emission>
  <life>
    <duration>1</duration>
    <type>RandomConst</type>
    <max>0.23</max>
    <min>0.22</min>
    <delay>0</delay>
    <loop>true</loop>
  </life>
  <shape>
    <type>Cone</type>
    <randomDirection>false</randomDirection>
    <cone coneHeight="25" coneRadiusBottom="150" coneRadiusTop="150" type="Volume" />
  </shape>
  <rotationBirth>
    <type>Const</type>
    <min>0</min>
    <max>0</max>
  </rotationBirth>
  <scaleBirth>
    <type>RandomConst</type>
    <min>30</min>
    <max>40</max>
  </scaleBirth>
  <geometry>
    <type>Plane</type>
    <plane width="1" height="1" />
  </geometry>
  <moveSpeed>
    <type>Const</type>
    <min>0</min>
    <max>0</max>
    <velocityForce>
      <type>Const</type>
      <worldSpace>false</worldSpace>
      <max x="-1000" y="2000" z="0" />
      <min x="-1000" y="2000" z="0" />
    </velocityForce>
  </moveSpeed>
  <mat id="0">
    <diffuseTextureName>Texture/KwiMoon_Fog_Diff01.png</diffuseTextureName>
    <normalTextureName />
    <specularTextureName />
    <shadowTextureName />
    <diffuseColor>0xffffff</diffuseColor>
    <ambientColor>0xffffff</ambientColor>
    <specularColor>0xffffff</specularColor>
    <alpha>1</alpha>
    <cutAlpha>0</cutAlpha>
    <specularLevel>1</specularLevel>
    <gloss>1</gloss>
    <ambientPower>1</ambientPower>
    <diffusePower>1</diffusePower>
    <normalPower>1</normalPower>
    <castShadow>false</castShadow>
    <acceptShadow>false</acceptShadow>
    <smooth>true</smooth>
    <repeat>false</repeat>
    <bothside>false</bothside>
    <drawMode>4</drawMode>
    <cullMode>1029</cullMode>
    <blendMode>NORMAL</blendMode>
  </mat>
</particle>